h1 {
	font-weight: bold;
}
h1:after {
	content: '';
	display: block;
	width: 20px;
}
h2:before {
	display: inline-block;
	height: 10px;
}

div {
	position: relative;
}
div:before,
div:after,
span::before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50%;
}
div:after {
	left: auto;
	right: 0;
}

span::before,
span::after {
	display: inline-block;
	color: red;
}
span::after {
	content: '?'
}
